@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
.menu-trabalhe{
    width: 100%;
    background-color: #252323;
    height: 40px;
   
}
.image1{
    height: 50px;
    
}
main, .content{
    margin: 0 auto;
    width: 980px;
    position: relative;
}
.redes-sociais ul li {
    margin-left: 25px;
    display: inline-block;
    list-style: none;
}
.logo{
    width: 70%;
    float: left;
}
.redes-sociais{
    width: 10%;
    float: right;
}
::selection{
  color: #5ba1f7;
  background: #fff;
}
nav{
  position: fixed;
  background: #050a2f;
  width: 100%;
  padding: 0px;
  z-index: 12;
  height: 58px;
  border-bottom: 3px solid #14efe3;
}
nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu .logo a{
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600px;
}
.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child{
  margin-left: 0px;
}
.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: #5ba1f7;
  color: #000000;
}
.img2{
  background: #050a2f no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img2::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.img{
  background: url('img/final3.gif');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title{
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}
.center .sub_title{
  color: #fff;
  font-size: 52px;
  font-weight: 600;
}
.center .btns{
  margin-top: 20px;
}
.center .btns button{
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.center .btns button:first-child{
  color: #fff;
  background: none;
}
.btns button:first-child:hover{
  background: #5ba1f7;
  color: black;
}
.center .btns button:last-child{
  background: none;
  color: #fff;
}
.center button:last-child:hover{
  background: #5ba1f7;
  color: black;
}
               
      






.header-2{
  background-color: #050a2f;
  width: 1080px;
  margin: 0 auto;
  padding: 0px;
}
.trabalhe ul li{
  display: inline-block;
  color: #14efe3;
  margin-left: 15px;
  height: 50px;
 
}
.trabalhe ul li :hover{
  border-bottom: 3px solid #00bac6;

 
}
.trabalhe ul li a:hover{
  color: #00bac6;
}
.trabalhe ul li a{
  color: #7fbbff;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
}
.trabalhe{
  width: 70%;
  float: left;
}
.busca{
  text-align: center;
  width: 30%;
  float: right;
}
.busca input{
  border: 1px solid #d6d6d6;
  background-position: 96%;
  background-repeat: no-repeat;
  background-image: url(icone-search.png);
  height: 25px;
  padding: 5px;
  width: 190px;
  margin-top: 10px;
}
.col-100{
  background-color: #091b1d;
  width: 100%;
  float: left;
  position: relative;
 
}
ul{
  padding: 0px !important;
}
.trbalhe-urls{
  
      height: 30px;
    border-bottom: 3px solid #008079;
    }